* {box-sizing: border-box;}
.header{
    overflow: hidden;
    background-color:#333;
    margin-top: -10px;
    width: auto;
    
}
.header-menu{
    text-align: center;
    font-size: 18px;
    float: right;
   padding: 20px 10px;
   word-spacing: 3rem;
   font-family: 'Source Sans Pro', sans-serif;
   line-height: 1.5;    

}

.header-right{
    float: right;

   
}
 a:any-link{
    
    color: white;
    text-decoration: none;

}

.active ul li{
    list-style-type: none;
}
